APP_URL=http://localhost:3000
APP_API_BASE_URL=http://localhost:8001
APP_SENTINEL_URL=http://localhost:9003
APP_SENTINEL_SERVICE_NAME=protcellar
APP_SENTINEL_SERVICE_KEY=
APP_SENTINEL_GOOGLE_CLIENT_ID=
APP_SENTINEL_ENTRA_CLIENT_ID=
APP_SENTINEL_ENTRA_TENANT_ID=
